html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #dbc201;
  /* min-height: 100%; */
  height: 100vh;
}

#root{
  /* height: 100%; */
  flex: 1;
}

.App{
  height: 100%;
}

main{
  height: 100%;
}

footer{
  text-align: center ;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #44b2bd;
}

.input-width2, .input-btn2 {
  width: 40%;
}

.input-height {
  height: 150px;
}

.width {
  height: 200px;
}



/* Login dan Register Style */
.login-card{
  width: 70%;
  height: 80%;
  background-color: rgb(255, 255, 255,0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));
}

.input-title {
  margin: 10px 0;
  font-size: 80px;
  color: #15506D;
  font-weight: 700;
}

.login-row {
  width: 710px;
  font-size: 16px;
}

.login-row button {
  width: 45%;
}

.icon-btn {
  font-size: 38px;
  font-weight: 600;
}

.login-row input {
  width: 35%;
  background-color: rgb(255, 255, 255,0);
  font-weight: 500;
}

.login-row input:focus {
  background-color: rgb(255, 255, 255,0);
}

.google-btn {
  background-color: #DD4C39;
  font-weight: 500;
}

.facebook-btn {
  background-color: #1877F2;
  font-weight: 500;
}

.input-btn {
  font-size: 18px;
  font-weight: 500;
  background-color: #15506D;
  color: white;
  width: 610px;
  height: 48px;
}

.daftar-btn {
  font-size: 18px;
  font-weight: 500;
  background-color: #15506D;
  width: 200px;
  height: 48px;
}

.login-text {
  font-weight: 500;
}

.mention {
  line-height: 0;
}

.mention p {
  font-size: 11px;
}

.mention span {
  font-weight: 700;
}



/* Home Page Style */
.home-page{
  background-color: white;
  padding: 30px;
  height: 100%;
}

.home-page > h1{
  text-align: center;
  margin-bottom: 30px;
}

.worker-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.worker-item{
  padding: 5px;
  background: transparent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  border-radius: 15px;
}

.worker-item__img > img{
  display: block;
  margin: auto;
  height: 150px;
}


/* Detail Worker Page Style */
.detail-page{
  padding: 20px;
  background-color: white;
  height: 100%;
}

.worker-detail{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.worker-detail > .card-header{
  margin-right: 30px;
  padding: 15px;
}

.worker-detail > .card-header > img{
  display: block;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 35px;
}

.worker-detail > .card-header> .card-header__address{
  font-size: 16px;
  margin-bottom: 8px;
}

.worker-detail > .card-body{
  padding: 15px;
  flex: 1;
}

.card-body__rating{
  font-size: 24px;
}

.card-body__button{
  margin-top: 30px;
}

.card-body__button > a > button{
  min-height: 44px;
  min-width: 44px;
  padding: 10px;
  margin-right: 50px;
  font-size: 20px;
}

.card-body__button__chat{
  color: white;
  font-weight: 500;
  background-color: #25d366;
  border: 2px solid #25d366;
  border-radius: 10px;
}

.card-body__button__order{
  color: white;
  font-weight: 500;
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
  border-radius: 10px;
}

/* order Page */
.order-page{
  background-color: white;
  height: 100%;
}

.order-form{
  padding: 20px;
  padding-top: 50px;
}

.order-form > h1 {
  text-align: center;
  margin-bottom: 30px;
}

.order-form > form {
  padding: 20px;
}

.order-form > form > button{
  display: block;
  margin: auto;
  font-size: 18px;
}

.your-order-page{
  background-color: white;
  height: 100%
}

.order-penyewa{
  padding: 20px;
  padding-top: 50px;
}

.order-penyewa > h1 {
  text-align: center;
  margin-bottom: 30px;
}


@media screen and (max-width: 800px) {
  .worker-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

